#title{
  background-color: #ff4c68;
}
h1{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
.container-fluid{
  padding:3% 15% 7%;
}
body{
  font-family:"Ubuntu";
}
/* navbar settings */

.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.4rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 16px;
}
.nav-link{
  font-family:"Ubuntu";
  font-size: 1.2rem;
  font-weight: 400;
}

/* download-button */
.download-button{
  margin: 5% 3% 5% 0;
}
/* title image */

.title-image{
  width:60%;
  transform: rotate(27deg);
  position: absolute;
  left:25%;
}

/* features */

h3{
  font-weight: 900;
  font-family: "Roboto";
}
p{
  color: #8f8f8f;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position:relative;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}

/* testimonials */
#testimonials{
  text-align: center;
}
.combine{
  background-color: #ef8172;
  color:white;
}
h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}
.testimonial-image{
  width:150px;
  height:150px;
  border-radius: 100px;
  margin: 20px;
}
#press{
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width:15%;
  padding:20px 20px 50px;
}
.carousel-item{
  padding:7% 15%;
}

.h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  color: black;
}

#pricing{
  padding:100px;
  text-align: center;
}
.pricing-card{
  padding: 5% 2%
}

@media (max-width:1028px){

  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 8% 17% 7%;
}
.bt{
  padding:25%;
}
.h3{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

#footer{
  background-color: white;
  text-align: center;
  padding: 12% 15% 6%;
}
.foot{
  padding:1%;
}
